@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

.popupButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #195273;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  content: url(../Popover/human.svg);
  width: 1.5em;
  height: 1.5em;
}

.popupWindow {
  display: none;
  position: fixed;
  z-index: 1;
  left: 100px;
  top: 50px;
  overflow: auto;
  background-color: transparent;
  background-color: transparent;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
