.button {
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 4vh 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.default
{
    background-color: #195273;
}

.noneShort
{
    padding: 15px 20px;
}

.hover,
.hoverShort
{
    background-color: #555555;
}

.hoverShort
{

    padding: 15px 20px;
}

.active,
.activeShort
{
    background-color: white;
    color: #195293;
    border: 2px solid #195293;

}

.activeShort
{

    padding: 15px 20px;
}