@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

.textArea{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 1.2vw;
line-height: 147.9%;
letter-spacing: 0.02em;
padding: 3vh;
height: 40vh;
width: 30vw;
}

.label
{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 4vh;
line-height: 12px;
letter-spacing: 0.07em;
color: #195273;
}
