@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

.textArea {
   font: 300 1.5em/1em 'Roboto', sans-serif;
	letter-spacing: 0.02em;
	padding: 0.5em;
	height: 5em;
	width: 15em;
	border: 0.5px solid #D7D7D7;
	outline: none;
	border-radius: 5px;
	resize: vertical;
   box-shadow: none;
}

.textArea:hover{
	box-shadow: 0 0 3px 10px #FBF8F8;
}

.label {
   font: 600 2em/0.5em 'Roboto', sans-serif;
	letter-spacing: 0.07em;
	color: #195273;
}
