.image-container {
  max-width: 502px;
  max-height: 323px;
  width: 100%;
  height: 323px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

span {
  max-width: 502px;
  max-height: 323px;
  width: 100%;
  height: 323px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

img {
  object-position: 50% 0% !important;
}
img,
span {
  z-index: 0;
}
.image-tag {
  margin: 0;
  background: #ffffff;
  border-radius: 5px;
  color: #195273;
  z-index: 99999;
  max-width: max-content;
  width: 50%;
  position: relative;
  padding: 10px 17px;
  text-transform: uppercase;
  top: 79.5%;
  left: 5.8%;
}
