.title {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #195273;
}

.text {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #828282;
}