.timeline .point .check {
	background-color: #fff;
    border: 2.5px solid rgba(25, 82, 115, 1);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: inline-block;
	vertical-align: middle;
}

.timeline .point.error .check::before,
.timeline .point .check::after {
	content: "";
    position: relative;
    top: 6px;
    left: 5px;
    display: block;
    border: 2.5px solid rgba(25, 82, 115, 1);
    border-top: 0px;
    border-right: 0px;
    width: 10px;
    height: 5px;
    transform: rotate(320deg);
}

.timeline .point .check.checked {
	background-color: rgba(25, 82, 115, 1);
}

.timeline .point .check.checked::after {
	border-color: #fff;
}

.timeline .point .title {
	display: inline-block;
    background-color: rgba(25, 82, 115, 1);
    color: #fff;
    padding: 3.5px 17px;
    border-radius: 15px;
    font: 600 12px 'Roboto', sans-serif;
    vertical-align: middle;
	margin-left: 18px;
	border: 2.5px solid rgba(25, 82, 115, 1);
}

.timeline .point .date {
	color: rgba(25, 82, 115, 1);
    font: 600 12px 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
}

.timeline .point::before {
	content: "";
    position: relative;
    top: 0px;
    left: 12px;
    display: block;
    border-left: 2.5px solid rgba(25, 82, 115, 1);
    width: 0;
    height: 85px;
}

.timeline .point:first-child::before {
	content: none;
}

/* VARIANTS */
/* finish */
.timeline .point.finish .check,
.timeline .point.finish .title,
.timeline .point.finish::before {
	background-color: rgba(161, 218, 141, 1);
	border-color: rgba(161, 218, 141, 1);
}

/* error */
.timeline .point.error .check,
.timeline .point.error .title,
.timeline .point.error::before {
	background-color: rgba(253, 86, 86, 1);
	border-color: rgba(253, 86, 86, 1);
}

.timeline .point.error .check::after {
	height: 0;
    top: 7px;
    left: 3px;
    transform: rotate(315deg);
    border-left: 0;
    width: 15px;
}

.timeline .point.error .check::before {
	height: 0px;
    border-left: 0;
    width: 15px;
    transform: rotate(45deg);
    top: 9.5px;
    left: 3.5px;
    border-color: #fff;
}

/* HOVERS */
.timeline .point:hover::before {
	border-left: 2.5px dashed rgba(204, 203, 203, 1);
}

.timeline .point:hover .check {
	border-color: rgba(204, 203, 203, 1);
	background-color: #fff;
}

.timeline .point:hover .check::after {
	border-color: rgba(25, 82, 115, 1);
}

.timeline .point:hover .title {
	border: 2.5px solid rgba(204, 203, 203, 1);
	background-color: #fff;
	color: rgba(25, 82, 115, 1);
}