.loader .circle {
  stroke: #195273;
  fill: none;
  stroke-width: 3px;
  stroke-dashoffset: -101.421px;
  stroke-dasharray: 101.421px;
  animation: loading 3s cubic-bezier(0.42, 0, 0.29, 1) infinite;
  transform: rotate(-90deg);
  transform-origin: 50%;
  position: relative;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 101.421px;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -101.421px;
  }
}
